//NOTE: project_name is parameter of seed job it's available as variable in dsl scope
maven_installation = 'Maven-default'
groovy_installation = 'Groovy-default'
git_url = "ssh://jenkins@<%= @gerrit_host %>:<%= @gerrit_port %>/${project_name}"
version_props_generate = """
  def binaryVersion(env, version) {
      def buildTime = Date.parse('yyyy-MM-dd_HH-mm-ss', env['BUILD_ID'])
      def timestamp = buildTime.format('yyyyMMdd.HHmmss', TimeZone.getTimeZone('UTC'))
      def buildNo = env['BUILD_NUMBER']
      version.replaceFirst(/-SNAPSHOT\$/, \"-\${timestamp}-\${buildNo}\")
  }

  def env = System.getenv()
  def p = new Properties()

  def pom = new XmlParser().parse('pom.xml')

  p['projectGroupId'] = 'com.griddynamics.asf.webapp-demo'
  p['projectArtifactId'] = 'spring-petclinic'
  p['projectVersion'] = pom.version.text() ?: '1.0.0-SNAPSHOT'

  p['buildGroupId'] = p['projectGroupId']
  p['buildArtifactId'] = p['projectArtifactId']
  p['buildVersion'] = binaryVersion(env, p['projectVersion'])
  p['buildJob'] = env['JOB_NAME']
  p['buildNumber'] = env['BUILD_NUMBER']
  p['buildBranch'] = env['GIT_BRANCH'].replaceFirst('^[^/]+/', '')
  p['buildCommit'] = env['GIT_COMMIT']

  p.store(new FileWriter('version.properties'), env['BUILD_TAG'])
"""

set_version = """def version = build.getEnvironment(null)['buildVersion']
if (version) build.displayName = version"""

qubell_app_params = """{
\"input.artifact_url\": \"\${NEXUS_URL}/service/local/artifact/maven/content?r=builds-all&g=\${projectGroupId}&a=\${projectArtifactId}&v=\${buildVersion}&e=war\",
    \"instanceName\": \"asf-webapp-demo-\${buildVersion}\"
}"""

folder {
    name "${project_name}"
    description("<a href='http://<%= @gerrit_host %>'> Gerrit</a>, <a href='http://<%= @jira_host %>'> JIRA</a>")
}

job(type: Maven) {
  name "${project_name}/dev-build-review"
  description("<p>This job builds code and run unit tests. Triggered by Gerrit review action. Source code: <code>${git_url}</code></p>")
  jdk('/usr/lib/jvm/java/')
  parameters {
    stringParam("GERRIT_PROJECT", "${project_name}", "Gerrit project name")
    stringParam("GERRIT_BRANCH", "dev", "Gerrit branch")
    stringParam("GERRIT_REFSPEC", "refs/heads/dev", "Gerrit refspec")
  }
  configure { project ->
    project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
        settingsConfigId('<%= @settings_id %>')
      }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
        refspec('\${GERRIT_REFSPEC}')
      }
      branch('*/\${GERRIT_BRANCH}')
    }
  }
  triggers {
    gerrit {
      events {
        patchsetCreated()
        draftPublished()
      }
      project("${project_name}", "dev")
    }
  }
  logRotator(30, 50, -1, -1)
  concurrentBuild(true)
  goals('-e')
  goals('clean')
  goals('install')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  postBuildSteps {
    maven {
      goals('pmd:pmd')
      goals('pmd:cpd')
      goals('checkstyle:checkstyle')
      goals('findbugs:findbugs')
      mavenInstallation(maven_installation)
      localRepository(LocalToWorkspace)
      configure { project ->
        project << globalSettings(
          class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
          plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
            settingsConfigId('<%= @settings_id %>')
          }
      }
    }
  }
  publishers{
    pmd('**/pmd.xml') {
        shouldDetectModules true
    }
    checkstyle('**/checkstyle-result.xml') {
        shouldDetectModules true
    }
    findbugs('**/findbugsXml.xml', true)
    dry('**/cpd.xml')
    mailer("", false, true)
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
  perModuleEmail(false)
}

job(type: Maven) {
  name "${project_name}/dev-build"
  description("<p>This job builds code published to dev branch and run unit tests, triggered job with functional test. Source code: <code>${git_url}</code></p>")
  jdk('/usr/lib/jvm/java/')
  parameters{
    booleanParam("SKIP_SONAR",true,"Skip sonar analysis")
  }
  configure { project ->
    project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:"config-file-provider@<%= @plugins['config-file-provider'] %>") {
        settingsConfigId('<%= @settings_id %>')
      }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
        refspec('+refs/heads/dev:refs/remotes/origin/dev')
      }
      branch('*/dev')
    }
  }
  triggers {
    gerrit {
      events {
        changeMerged()
      }
      project("${project_name}", 'plain:dev')
    }
  }
  preBuildSteps {
    groovyCommand(version_props_generate, groovy_installation)
    environmentVariables {
        propertiesFile('version.properties')
    }
    maven {
      goals('versions:set -DnewVersion=\${buildVersion}')
      mavenInstallation(maven_installation)
      localRepository(LocalToWorkspace)
      configure { project ->
        project << globalSettings(
          class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
          plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
            settingsConfigId('<%= @settings_id %>')
          }
      }
    }
  }
  logRotator(30, 50, -1, -1)
  goals('-e')
  goals('clean')
  goals('deploy -P build')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  postBuildSteps {
    maven {
      goals('pmd:pmd')
      goals('pmd:cpd')
      goals('checkstyle:checkstyle')
      goals('findbugs:findbugs')
      mavenInstallation(maven_installation)
      localRepository(LocalToWorkspace)
      configure { project ->
        project << globalSettings(
          class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
          plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
            settingsConfigId('<%= @settings_id %>')
          }
      }
    }
  }

  publishers{
    pmd('**/pmd.xml') {
        shouldDetectModules true
    }
    checkstyle('**/checkstyle-result.xml') {
        shouldDetectModules true
    }
    findbugs('**/findbugsXml.xml', true)
    dry('**/cpd.xml')

    mailer("", false, true)
    archiveArtifacts 'version.properties'
    downstreamParameterized {
      trigger('dev-test-functional') {
        currentBuild()
        propertiesFile('version.properties')
      }
    }
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
  configure { project ->
    project / publishers << "hudson.plugins.sonar.SonarPublisher"(plugin:"sonar@"){
        jobAdditionalProperties('-Dsonar.profile="Sonar way with Findbugs"')
    }
  }
}

job() {
    description("<p>This job requested Qubell deployment ${project_name}, triggered job with an integration tests, destroyed application in Qubell.</p>")
    jdk('/usr/lib/jvm/java/')
    logRotator(30, 50, -1, -1)
    steps {
    configure {
        it / builders << "hudson.plugins.copyartifact.CopyArtifact"(
        plugin: "copyartifact@1.31") {
            project("dev-test-functional")
            filter("version.properties")
            target()
            excludes()
            selector(class: "hudson.plugins.copyartifact.StatusBuildSelector") {
                stable(true)
            }
            downstreamParameterized()
        }
    }
    configure { project ->
        project / builders << "EnvInjectBuilder"(
        plugin: "envinject@1.90") {
            info() {
                propertiesFilePath("version.properties")
            }
        }
    }
    configure { project ->
        project / builders << "com.qubell.jenkinsci.plugins.qubell.builders.StartInstanceBuilder"(
            plugin: "qubell@2.5") {
            expectedStatus('RUNNING')
            timeout('1200')
            outputFilePath('qubell_output.json')
            manifestRelativePath('')
            environmentId("${qubell_env_id}")
            applicationId("${qubell_app_id}")
            extraParameters(qubell_app_params)
          }
    }
    configure { // It's hack because for some reasone DSL does not add qubell plugin into job
	    it / builders << "hudson.plugins.groovy.Groovy"(plugin: "groovy@1.22") {
		    scriptSource(class : "hudson.plugins.groovy.StringScriptSource") {
			    command """
import groovy.json.JsonSlurper;
import hudson.model.*;

def env_vars = System.getenv()
def workspace_path = env_vars.WORKSPACE

def qubellOutputFile = new File("\${workspace_path}/qubell_output.json")
def userJson = new JsonSlurper().parseText(qubellOutputFile.text)
def webapp_endpoint = userJson.returnValues.'output.webapp_endpoint'

def f= new File("petclinic_url.properties")
f.withWriter{ it << "PETCLINIC_URL=${webapp_endpoint}"}
"""
        }
        groovyName("Groovy-default")
      }
    }

    configure {
        it / builders << "hudson.plugins.parameterizedtrigger.TriggerBuilder"(plugin:"parameterized-trigger@2.25") {
            configs{
                    "hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig" {
                        projects("dev-test-integration")
                        condition("UNSTABLE_OR_BETTER")
                        triggerWithNoParameters(false)
                        buildAllNodesWithLabel(false)
                    configs {
                        "hudson.plugins.parameterizedtrigger.PredefinedBuildParameters" {
                            properties("buildCommit=\${buildCommit}\nbuildNumber=\${buildNumber}")
                        }
                        "hudson.plugins.parameterizedtrigger.FileBuildParameters" {
                            propertiesFile("petclinic_url.properties")
                            failTriggerOnMissing(true)
                            useMatrixChild(false)
                            onlyExactRuns(false)
                        }
                    }
                    block{
                        buildStepFailureThreshold {
                            name("FAILURE")
                            ordinal(2)
                            color("RED")
                        }
                        failureThreshold {
                            name("FAILURE")
                            ordinal(2)
                            color("RED")
                        }
                        unstableThreshold {
                            name("UNSTABLE")
                            ordinal(1)
                            color("YELLOW")
                        }
                    }
                }
            }
        }
    }

  configure { project ->
    project / builders << "com.qubell.jenkinsci.plugins.qubell.builders.DestroyInstanceBuilder"(
      plugin: "qubell@2.5") {
  	    expectedStatus('DESTROYED')
        timeout('600')
        commandName('destroy')
      }
  }

  publishers{
    mailer("", false, true)
  }

  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
}
    // Workaround because dsl plugin bind function into context
    configure { project ->
        name ("${project_name}/dev-deploy")
    }
}

job(type: Maven) {
  name "${project_name}/fb-build-review"
  description("<p>This job builds code and run unit tests. Triggered by Gerrit review action. Source code: <code>${git_url}</code></p>")
  jdk('/usr/lib/jvm/java/')
  parameters {
    stringParam("GERRIT_PROJECT", "${project_name}", "Gerrit project name")
    stringParam("GERRIT_BRANCH", "fb-*", "Gerrit branch")
    stringParam("GERRIT_REFSPEC", "refs/heads/fb-*", "Gerrit refspec")
  }
  configure { project ->
    project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
        settingsConfigId('<%= @settings_id %>')
      }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
        refspec('\${GERRIT_REFSPEC}')
      }
      branch('*/\${GERRIT_BRANCH}')
    }
  }
  triggers {
    gerrit {
      events {
        patchsetCreated()
        draftPublished()
      }
      project("plain:${project_name}", 'ant:fb-*')
    }
  }
  logRotator(30, 50, -1, -1)
  concurrentBuild(true)
  goals('-e')
  goals('clean')
  goals('install')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  postBuildSteps {
    maven {
      goals('pmd:pmd')
      goals('pmd:cpd')
      goals('checkstyle:checkstyle')
      goals('findbugs:findbugs')
      mavenInstallation(maven_installation)
      localRepository(LocalToWorkspace)
      configure { project ->
        project << globalSettings(
          class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
          plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
            settingsConfigId('<%= @settings_id %>')
          }
      }
    }
  }
  publishers{
    pmd('**/pmd.xml') {
        shouldDetectModules true
    }
    checkstyle('**/checkstyle-result.xml') {
        shouldDetectModules true
    }
    findbugs('**/findbugsXml.xml', true)
    dry('**/cpd.xml')
    mailer("", false, true)
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
  perModuleEmail(false)
}

job(type: Maven) {
  name "${project_name}/fb-build"
  description("<p>This job builds feature branch code, run unit tests and triggered job with functional tests. Source code: <code>${git_url}</code></p>")
  jdk("/usr/lib/jvm/java/")
  configure { project ->
    project << globalSettings(class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider', plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
      settingsConfigId('<%= @settings_id %>')
    }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
      }
      branch('*/fb-*')
    }
  }
  triggers {
    gerrit {
      events {
        refUpdated()
      }
      project("${project_name}", "ant:fb-*")
    }
  }

  preBuildSteps {
    groovyCommand(version_props_generate, groovy_installation)
    environmentVariables {
        propertiesFile('version.properties')
    }
    maven {
        goals('versions:set -DnewVersion=\${buildVersion}')
        mavenInstallation(maven_installation)
        localRepository(LocalToWorkspace)
        configure { project ->
            project << globalSettings(
              class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
              plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
                settingsConfigId('<%= @settings_id %>')
            }
        }
    }
  }
  concurrentBuild(true)
  logRotator(30, 50, -1, -1)
  goals('-e')
  goals('clean')
  goals('deploy -P build-fb')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  postBuildSteps {
    maven {
      goals('pmd:pmd')
      goals('pmd:cpd')
      goals('checkstyle:checkstyle')
      goals('findbugs:findbugs')
      mavenInstallation(maven_installation)
      localRepository(LocalToWorkspace)
      configure { project ->
        project << globalSettings(
          class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
          plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
            settingsConfigId('<%= @settings_id %>')
          }
      }
    }
  }

  publishers{
    pmd('**/pmd.xml') {
        shouldDetectModules true
    }
    checkstyle('**/checkstyle-result.xml') {
        shouldDetectModules true
    }
    findbugs('**/findbugsXml.xml', true)
    dry('**/cpd.xml')
    mailer("", false, true)
    archiveArtifacts 'version.properties'
    downstreamParameterized {
      trigger('fb-test-functional') {
        currentBuild()
        propertiesFile('version.properties')
      }
    }
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
}

job(type: Maven) {
  name "${project_name}/fb-test-functional"
  description("<p>This job run functional tests on feature branch code.</p>")
  jdk("/usr/lib/jvm/java/")
  configure { project ->
    project << globalSettings(class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider', plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
      settingsConfigId('<%= @settings_id %>')
    }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
      }
      branch('\${buildCommit}')
    }
  }
  preBuildSteps {
    copyArtifacts('fb-build', targetPath = 'version.properties') {
        buildNumber('\${buildNumber}') 
    }
  }
  rootPOM("spring-petclinic-test/pom.xml")
  goals('-P functional-test,build-fb clean verify -Dpetclinic.version=${buildVersion}')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  configure { project ->
    project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:"config-file-provider@<%= @plugins['config-file-provider'] %>") {
        settingsConfigId('<%= @settings_id %>')
      }
  }
  postBuildSteps {
    publishers{
      mailer("", false, true)
      publishHtml{report("spring-petclinic-test/target/jbehave/view","HTML Report",'index.html',true)}
    }
  }
  configure { project ->
    project / publishers / xunit / types << "JBehavePluginType"(plugin="jbehave-jenkins-plugin@3.7")
  }
  configure { project ->
    project / publishers / xunit / types / JBehavePluginType / pattern << "spring-petclinic-test/target/jbehave/*.xml"
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableThreshold << "0"
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholdMode << "1"
  }
  configure { project ->
    project / publishers / xunit / extraConfiguration / testTimeMargin << "3000"
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
}
job(type: Maven) {
  name "${project_name}/dev-test-integration"
  description("<p>This job run integration tests on dev branch code.</p>")
  jdk("/usr/lib/jvm/java/")
  configure { project ->
    project << globalSettings(class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider', plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
      settingsConfigId('<%= @settings_id %>')
    }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
      }
      branch('\${buildCommit}')
    }
  }
  preBuildSteps {
    copyArtifacts('dev-build', targetPath = 'version.properties') {
        buildNumber('\${buildNumber}') 
    }
  }
  rootPOM("spring-petclinic-test/pom.xml")
  goals('-P integration-test clean verify -Dspring.profiles.active=remote -DREMOTE_WEBDRIVER_URL=${SELENIUM_URL} -Dbrowser.version= -Dpetclinic.url=${PETCLINIC_URL}')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  configure { project ->
      project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:"config-file-provider@<%= @plugins['config-file-provider'] %>") {
          settingsConfigId('<%= @settings_id %>')
        }
  }
  postBuildSteps {
    publishers{
      mailer("", false, true)
      archiveArtifacts 'version.properties'
      publishHtml{report("spring-petclinic-test/target/jbehave/view","HTML Report",'index.html',false)}
    }
  }
  configure { project ->
    project / publishers / xunit / types << "JBehavePluginType"(plugin="jbehave-jenkins-plugin@3.7")
  }
  configure { project ->
    project / publishers / xunit / types / JBehavePluginType / pattern << "spring-petclinic-test/target/jbehave/*.xml"
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableThreshold << "0"
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholdMode << "1"
  }
  configure { project ->
    project / publishers / xunit / extraConfiguration / testTimeMargin << "3000"
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
}

job(type: Maven) {
  name "${project_name}/dev-test-functional"
  description("<p>This job run functional test on dev branch code and triggered deployment application in Qubell</p>")
  jdk("/usr/lib/jvm/java/")
  configure { project ->
    project << globalSettings(class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider', plugin:'config-file-provider@<%= @plugins['config-file-provider'] %>') {
      settingsConfigId('<%= @settings_id %>')
    }
  }
  scm {
    git {
      remote {
        name('origin')
        url(git_url)
      }
      branch('\${buildCommit}')
    }
  }
  preBuildSteps {
    copyArtifacts('dev-build', targetPath = 'version.properties') {
        buildNumber('\${buildNumber}') 
    }
  }
  rootPOM("spring-petclinic-test/pom.xml")
  goals('-P functional-test,build clean verify -Dpetclinic.version=${buildVersion}')
  mavenInstallation(maven_installation)
  localRepository(LocalToWorkspace)
  configure { project ->
    project << globalSettings(
      class:'org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider',
      plugin:"config-file-provider@<%= @plugins['config-file-provider'] %>") {
        settingsConfigId('<%= @settings_id %>')
      }
  }
  publishers{
    mailer("", false, true)
    archiveArtifacts 'version.properties'
    publishHtml{report("spring-petclinic-test/target/jbehave/view","HTML Report",'index.html',false)}
    downstreamParameterized {
        trigger('dev-deploy') {
            currentBuild()
        }
    }
  }
  configure { project ->
    project / publishers / xunit / types << "JBehavePluginType"(plugin="jbehave-jenkins-plugin@3.7")
  }
  configure { project ->
    project / publishers / xunit / types / JBehavePluginType / pattern << "spring-petclinic-test/target/jbehave/*.xml"
    }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableThreshold << "0"
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.FailedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / unstableNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholds / "org.jenkinsci.plugins.xunit.threshold.SkippedThreshold" / failureNewThreshold << ""
  }
  configure { project ->
    project / publishers / xunit / thresholdMode << "1"
  }
  configure { project ->
    project / publishers / xunit / extraConfiguration / testTimeMargin << "3000"
  }
  configure { project ->
    project / publishers << "hudson.plugins.jira.JiraIssueUpdater"(plugin:"jira@<%= @plugins['jira'] %>")
  }
}
